body{
    padding: 0;
    margin:0;
}
.services{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.services-header{
    margin-top: 89px;
    width: 1223px;
    height: 97px;
    justify-content: space-between;
}

.header-text>p{
    margin: 0;
}
.services-heading{
    display: flex;
    align-items: end;
    font-size: 2.5rem;
    font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 609;
  font-style: normal;
    
}
.services-description{
    display: flex;
    align-items: start;
    font-size: 1.2rem;
    font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.header-icons{
    align-items: center;
}
.header-icons>img{
    height: 35px;
    width: 35px;
    margin-left: 10px;
}
.card-container{
    padding: 0;
    align-items: center;
    justify-content: center;
    width: 1223px;
   
    padding: 30px;
    flex-wrap: wrap;
    column-gap: 1%;
}


 

