
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.flex{
    display:flex;
}
.border-1{
    border: 2px solid purple;
}
.border-2{
    border:2px solid red;
}
.chaintech-gradient{
    background-image: linear-gradient(to right, #f6fe06, #93ff47, #19ff96);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-card{
    background-color: rgb(0, 240, 255, 0.15);
    
}
.red-card{
    background-color: rgb(252, 89, 89,0.15);
  
}
.green-card{
    background-color: rgb(43, 255, 138,0.15);
  
}
.purple-card{
    background-color: rgb(45, 69, 230,0.15);
    
}